body {
    background-color: black !important;
    color: white !important;
}

/* TODO: add media queries for nav */

button {
    position: relative;
    top: 10px;
    border: 1px solid yellow !important;
}

nav {
    position: flex;
    flex-direction: column;
}

.left {
    position: absolute;
    top: 10px;
    left: 0;
}

.right {
    position: absolute;
    right: 0;
    
}

.sliders {
    position: relative;
    width: 100%;
    margin: 20px;
    top: 10px;
}

.bars {
    display: flex;
    flex-direction: row;
}

.bar {
    background-color: pink;
    margin: 0px 2px;
    border: 2px solid green;
}
